@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-white {
    text-shadow: 
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
} 